@import url('../css/commons.css');


html {
   font-size: 16px
}

/* section-2 시작(어바웃) */
.section-2 {
    background-image: url(../images/section-2/2-bg.webp);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.section-2-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    padding: 9.188rem 0;
}

/* section-2 마무리 (어바웃) */


/* section-3 시작 */
.section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #00DBCF;
}

.section-3-textbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0;
    text-align: center;
}
.subtext-3{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* section-3 마무리 */



/* section-4시작 */
.content-4{
    margin: 6rem 1rem;
}

.section-4{
    display: flex;
    justify-content: center;

}

.box-4{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.375rem;
    padding: 1.375rem ;
    border-radius: 30px;
    border: solid 1px #f4f4f4;
    width: 19.375rem;
    height: auto ;
}
.box-4 img{
    border-radius: 30px;
    size: 100%;
    
    
}
.boxs-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    max-width: 81.25rem;
}
.box-4 h6{
    margin-bottom: 0.5rem;
}
.texbox-4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

/* 섹션5 시작(sequence) */
.sequence{
   background-color: #00DBCF;
}

.content-5{
    padding: 6rem 0;
    margin: 0 auto;
    max-width: 81.25rem;
    
}

.sequence-titbox{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 6rem;
    gap: 1rem;

}
.sequence-box{
    background-image: url(../images/section-5/sequence-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 26.188rem;
    height: 18.375rem;
    border-radius: 30px;
    justify-content: flex-end;
}
.sequence-box2{
    background-image: url(../images/section-5/sequence-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 26.188rem;
    height: 18.375rem;
    border-radius: 30px;
    justify-content: flex-end;
}
.sequence-box3{
    background-image: url(../images/section-5/sequence-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 26.188rem;
    height: 18.375rem;
    border-radius: 30px;
    justify-content: flex-end;
}
.sequence-box4{
    background-image: url(../images/section-5/sequence-4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 26.188rem;
    height: 18.375rem;
    border-radius: 30px;
    justify-content: flex-end;
}
.sequence-box5{
    background-image: url(../images/section-5/sequence-5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 26.188rem;
    height: 18.375rem;
    border-radius: 30px;
    justify-content: flex-end;
}
.sequence-box6{
    background-image: url(../images/section-5/sequence-6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 26.188rem;
    height: 18.375rem;
    border-radius: 30px;
    justify-content: flex-end;
}

.sequence-boxs{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 1.25rem;

}
.sequence-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
    margin-bottom: 20px;
}




/* 반응형 */
@media(max-width:1492px) {
    html {
        font-size: 15px;
    }
    
}

@media(max-width:1399px){
    html{
      font-size: 14px;
    }
}

@media(max-width:1305px){
    html{
        font-size: 14.5px;
    }
    .boxs-4{
        flex-wrap: wrap;
    }
    .box-4{
        width: 40%;
    }
   

}

@media(max-width:1280px){
    .box-4{
        width: 45%;
    }
    
}

@media(max-width:768px) {
    html {
        font-size: 13px;
    }

    .section-3-textbox{
        padding: 6rem 16px;
        text-align: center;
    }

    .br-none{
        display: none;
    }

}


@media(max-width:540px){
    .boxs-4{
        size: 100%;
    }
    .mo-no{
        display: block;
    }
}